body {
    font-family: sans-serif;
  }

  h1 {
    text-align: center;
  }
  
  .editor {
    width: 100%;
    height: 500px;
    border: 1px solid black;
  }
  
  .texto {
    width: 100%;
    height: 100%;
    font-size: 16px;
  }
  
  .botones {
    width: 100%;
    height: 50px;
    background-color: #ccc;
    display: flex;
    justify-content: space-around;
  }
  
  .nuevo, .abrir, .guardar {
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: 1px solid black;
    color: #000;
    cursor: pointer;
  }
  